
{% extends "template.twig.html" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
{% endblock %}
{% block body %}
 
    <div class="container">
        <div class="wrapper">
            <form role="form" method="POST" name="create-post" class="form-signin">
                <h3 class="form-signing-heading">Añadir Post</h3>
                <hr class="colorgraph"><br/>
                <input type="text" class="form-control" name="title" placeholder="Titulo" />
                <textarea class="form-control" name="body" placeholder="body"></textarea>
                <button class="btn btn-lg btn-primary btn-block" name="submit" value="create">Añadir</button>
            </form>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}